[Desktop Entry]
Name=Drakonis Control Center
Name[ar]=مركز تحكم Drakonis
Comment=Interactive desktop, security, network, and system tools
Exec=/usr/local/bin/drakonis-control-center
Icon=drakonis-linux
Terminal=false
Type=Application
Categories=Drakonis;System;Settings;Security;
Keywords=security;network;themes;workspace;help;
