[Desktop Entry]
Type=Application
Name=Drakonis Desktop Shell
Comment=Drakonis visual shell for XFCE
Exec=/usr/local/bin/drakonis-desktop-shell
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
